body {
  font-family: Raleway, sans-serif;
  background: #f6f8fd;
}

.mt--2 {
  margin-top: -0.5rem !important;
}

.hr-dotted {
  border-top: 1px dotted;
  opacity: .25;
}

.navbar-light .navbar-nav .nav-link {
  background-color: #f6f8fd !important;
  color: #212529 !important;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.4s;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #615fff !important;
}

.feature-icon-1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  font-size: 3rem;
  color: #fff;
  border-radius: 100%;
}

.btn-social-media {
  color: #31316a;
  background-color: #cdcfdf;
  border-color: #cdcfdf;
  width: 2rem;
  height: 2rem;
  padding: 1.2rem;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.btn-social-media:hover {
  color: #fff;
  background-color: #615fff;
  border-color: #615fff;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #615fff;
  --bs-btn-border-color: #615fff;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #372aac;
  --bs-btn-hover-border-color: #372aac;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #372aac;
  --bs-btn-active-border-color: #372aac;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #615fff;
  --bs-btn-disabled-border-color: #615fff;
}

.bg-primary {
  background-color: #615fff !important;
}

.text-primary {
  color: #615fff !important;
}

/* Footer */
.footer .copyright a {
  color: #615fff;
  text-decoration: none;
}

.footer .copyright a:hover {
  color: #4f39f6;
}

.footer .link a {
  color: #212529;
  text-decoration: none;
}

.footer .link a:hover {
  color: #615fff;
}
